@model MonopolyWeb.Models.ViewModels.GameStatus

@using Microsoft.Web.Mvc
@using MonopolyWeb.Controllers
@{
  ViewBag.Title = "Your turn";
}

@section styles
{
  <style>
    .monopoly-board {
      height: 720px;
      width: 720px;
      background-image: url('../img/board.png');
      background-position: center center;
      position: relative;
    }
    .player-card {
      height: 160px;
    }

    .cash {
      
    }

    img.player-icon {
      float: left;
      padding: 3px;
    }

    img.player-totem {
      float: right;
      vertical-align: bottom;
    }

    img#player-1 {
      position: absolute;
      left: @(Model.Player1OffsetFromLeft)px;
      top: @(Model.Player1OffsetFromTop)px;
    }
    img#player-2 {
      position: absolute;
      left: @(Model.Player2OffsetFromLeft)px;
      top: @(Model.Player2OffsetFromTop)px;
    }
    img#player-3 {
      position: absolute;
      left: @(Model.Player3OffsetFromLeft)px;
      top: @(Model.Player3OffsetFromTop)px;
    }
    img#player-4 {
      position: absolute;
      left: @(Model.Player4OffsetFromLeft)px;
      top: @(Model.Player4OffsetFromTop)px;
    }
  </style>  
}

<div class="monopoly-board span9">
  <img class="player-totem" id="player-1" src="../img/dog.png" />
  <img class="player-totem" id="player-2" src="../img/horseman.png" />
  <img class="player-totem" id="player-3" src="../img/thimble.png" />
  <img class="player-totem" id="player-4" src="../img/shoe.png" />
</div>
<div class="player-card span3" id="player-1">
  <img class="player-icon" src="../img/human_player.png"/>
  <h4>Player 1 (YOU)</h4>
  <div class="cash">@Model.Player1Cash</div>
</div>
<div class="player-card span3" id="player-2">
  <img class="player-icon" src="../img/robot_scum.png" />
  <h4>Rube</h4>
  <div class="cash">@Model.Player2Cash</div>
</div>
<div class="player-card span3" id="player-3">
  <img class="player-icon" src="../img/robot_scum.png" />
  <h4>Chester</h4>
  <div class="cash">@Model.Player3Cash</div>
</div>
<div class="player-card span3" id="player-4">
  <img class="player-icon" src="../img/robot_scum.png" />
  <h4>Adolf</h4>
  <div class="cash">@Model.Player4Cash</div>
</div>
<div class="span3">
  @using (Html.BeginForm<GameController>(x=>x.Roll()))
  {
    <input class="btn btn-large" type="submit" value="Roll" />
  }
</div>