@model MonopolyWeb.Models.ViewModels.NewGameInput

@using Microsoft.Web.Mvc
@using MonopolyWeb.Controllers
@using MonopolyWeb.Models.Core
@using MonopolyWeb.Models.ViewModels
@{
  ViewBag.Title = "Start a new game";
}

@section styles 
{
  <style>
    .player-selection-section {
      height: 300px;
    }
  </style>
}


<h2>Start a new game</h2>

@{
  using (Html.BeginForm<NewGameController>(x => x.Index()))
  {
    @Html.AntiForgeryToken()
  
    <div class="player-selection-section span5">
      <fieldset>
        <legend>Player 1 (You)</legend>
        <h5>Enter your name and totem. <em>Choose wisely</em></h5>
        <label>Name:<input type="text" name="Name" autocomplete="off" autofocus="autofocus" value="@Model.Name" /></label>
        @foreach (var totem in Enum.GetValues(typeof (Totem)))
        {
          <label>@Html.RadioButtonFor(x => x.Totem, totem) @(totem)</label>
        }
      </fieldset>
    </div>
  
    <div class="player-selection-section span5">
      <fieldset>
        <legend>Opponent 1</legend>
        <h5>Select a computer opponent.</h5>
        @foreach (var opponent in OpponentsViewModel.All)
        {
          <label>@Html.RadioButtonFor(x => x.Opponent1, opponent) @opponent</label>
        }
      </fieldset>
    </div>
  
    <div class="player-selection-section span5">
      <fieldset>
        <legend>Opponent 2</legend>
        <h5>Select a computer opponent.</h5>
        @foreach (var opponent in OpponentsViewModel.All)
        {
          <label>@Html.RadioButtonFor(x => x.Opponent2, opponent) @opponent</label>
        }
      </fieldset>
    </div>
  
    <div class="player-selection-section span5">
      <fieldset>
        <legend>Opponent 3</legend>
        <h5>Select a computer opponent.</h5>
        @foreach (var opponent in OpponentsViewModel.All)
        {
          <label>@Html.RadioButtonFor(x => x.Opponent3, opponent) @opponent</label>
        }
      </fieldset>
    </div>
  
    <div class="span12">
      <input class="btn btn-large" type="submit" value="Submit"/> 
    </div>
                      
  }
}