@model MonopolyWeb.Models.NewGame

@using Microsoft.Web.Mvc
@using MonopolyWeb.Controllers
@{
  ViewBag.Title = "Start a new game";
}


<h2>Start a new game</h2>

@{
  using (Html.BeginForm<NewGameController>(x => x.Index()))
  {

      <div class="span5" style="height: 300px">
        <fieldset>
          <legend>Player 1 (You)</legend>
          <h5>Enter your name and totem. <em>Choose wisely</em></h5>
          <label>Name: <input type="text" name="Name" value="@Model.Name"/></label>

          <label>@Html.RadioButtonFor(x => x.Totem, "Dog") Dog</label>
          <label>@Html.RadioButtonFor(x => x.Totem, "Thimble") Thimble</label>
          <label>@Html.RadioButtonFor(x => x.Totem, "Shoe") Shoe</label>
          <label>@Html.RadioButtonFor(x => x.Totem, "Horseman") Horseman</label>
        </fieldset>
    </div>
    <div class="span5"  style="height: 300px">
      <fieldset>
        <legend>Opponent 1</legend>
        <h5>Select a computer opponent.</h5>
        <label>@Html.RadioButtonFor(x => x.Second, "P2Rube") Rube</label>
        <label>@Html.RadioButtonFor(x => x.Second, "P2Chester") Chester</label>
        <label>@Html.RadioButtonFor(x => x.Second, "P2Mike Shishesky") Mike Shishesky</label>
        <label>@Html.RadioButtonFor(x => x.Second, "P2Mike Krzyzewski") Mike Krzyzewski</label>
        <label>@Html.RadioButtonFor(x => x.Second, "P2Adolf") Adolf</label>
      </fieldset>
    </div>
    <div class="span5"  style="height: 300px">
      <fieldset>
        <legend>Opponent 2</legend>
        <h5>Select a computer opponent.</h5>
        <label>@Html.RadioButtonFor(x => x.Third, "P3Rube") Rube</label>
        <label>@Html.RadioButtonFor(x => x.Third, "P3Chester") Chester</label>
        <label>@Html.RadioButtonFor(x => x.Third, "P3Mike Shishesky") Mike Shishesky</label>
        <label>@Html.RadioButtonFor(x => x.Third, "P3Mike Krzyzewski") Mike Krzyzewski</label>
        <label>@Html.RadioButtonFor(x => x.Third, "P3Adolf") Adolf</label>
      </fieldset>
    </div>
    <div class="span5"  style="height: 300px">
      <fieldset>
        <legend>Opponent 3</legend>
        <h5>Select a computer opponent.</h5>
        <label>@Html.RadioButtonFor(x => x.Fourth, "P4Rube") Rube</label>
        <label>@Html.RadioButtonFor(x => x.Fourth, "P4Chester") Chester</label>
        <label>@Html.RadioButtonFor(x => x.Fourth, "P4Mike Shishesky") Mike Shishesky</label>
        <label>@Html.RadioButtonFor(x => x.Fourth, "P4Mike Krzyzewski") Mike Krzyzewski</label>
        <label>@Html.RadioButtonFor(x => x.Fourth, "P4Adolf") Adolf</label>
      </fieldset>
    </div>
    <div class="span12"><input class="btn btn-large" type="submit" value="Submit"/> </div>
                      
  }
}