@model MonopolyWeb.Models.ViewModels.GameStatusViewModel

@using Microsoft.Web.Mvc
@using MonopolyWeb.Controllers
@{
  ViewBag.Title = "Your turn";
}

@section styles
{
  <style>
  .monopoly-board {
      height: 720px;
      width: 720px;
      background-image: url('@Url.Content("~/img/board.png")');
      background-position: center center;
      position: relative;
    }
    .player-card {
      height: 160px;
    }

    .player-card h4 {
      height: 40px;
    }

    .holdings {
      width: 180px;
    }

    img.player-icon {
      float: left;
      padding: 3px;
    }

    img.player-totem {
      float: right;
      vertical-align: bottom;
    }

    @foreach (var player in Model.PlayerStatuses) {
      
    <text>    img#player-@(player.PlayerNumber) {
      position: absolute;
      left: @(player.OffsetFromLeft)px;
      top: @(player.OffsetFromTop)px;
    }</text>

    } 
  </style>  
}

<div class="monopoly-board span9">
  @foreach (var player in Model.PlayerStatuses)
  {
    <img class="player-totem" id="player-@(player.PlayerNumber)" src="~/Content/Images/@(player.TotemIcon)" alt="Player @(player.PlayerNumber) (@(player.Name))" title="Player @(player.PlayerNumber) (@(player.Name))" />
  }
</div>
@foreach (var player in Model.PlayerStatuses)
{
  <div class="player-card span3" id="player-@(player.PlayerNumber)">
    <img class="player-icon" src="~/Content/Images/@(@player.Icon)" />
    <h4>@player.Name</h4>
    <div class="cash">@player.Cash</div>
    @(Html.ListBoxFor(x => x.PlayerStatuses[0].Holdings, player.Holdings, new { @class = "holdings" }))
  </div>
} 
<div class="span3">
  @if (Model.CanRoll)
  {
    using (Html.BeginForm<GameController>(x => x.Roll(null)))
    {
      @Html.AntiForgeryToken()
      <input class="btn btn-large" type="submit" value="Roll" />
    }
  }
  @if (Model.CanBuyProperty)
  {
    using (Html.BeginForm<GameController>(x => x.BuyProperty(null)))
    {
      @Html.AntiForgeryToken()
      <input class="btn btn-large" type="submit" value="Buy (@(Model.PropertySalePrice))" />
    }
  }
  @if (Model.CanEndTurn)
  {
    using (Html.BeginForm<GameController>(x => x.EndTurn(null)))
    {
      @Html.AntiForgeryToken()
      <input class="btn btn-large" type="submit" value="End Turn" />
    }
  }
</div>